@import '../UI/globalStyleVariables/global.scss';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: rgba(80, 80, 95, 1);

  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

div#root {
  height: 100%;
  width: 100%;
}






















