

$page-BackgroundColor-light: #ececec; 
$page-BackgroundColor-dark: #151515;


$main-color: #260063;
$text-color: #555;
$accent-color: #222;


$main-color-dark: #eee;
$text-color-dark: #999;
$accent-color-dark: #222;


$paragraphFontSize: 1rem;
$paragraphFontSize_smaller: .875rem;
$header2: 1.25rem;

