.task {
  cursor: pointer;
  position: relative;
  padding: 8x 8px 8px 8px;
  text-align: left;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

.button {
  max-width: 144px;
  width: 80vw;
  text-align: center;
}